*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
::-webkit-scrollbar{
    display: none;
}

.book a{
    text-decoration: none;
    color: rgb(30, 196, 154) !important;
    display: block;
    /* box-shadow: #b9d2ee 1px 0 5px; */
    line-height: 50px;
    padding: 0 50px;
    margin-top: 10px;
    transition:background-color .3s;
}
.book a:hover{
    color: #4593eb !important;
    background-color: #b9d2ee;
    box-shadow: #698bba 5px 2px 10px;
}
.container{
    width: 100%;
    background-size: cover;
    background-position: center;    
}

.container nav{
    display: block;
    padding-top: 10px;
    text-align: center;
    transition:.5s;
}
.container nav img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: #698bba 1px solid;
    box-shadow: #b9d2ee 1px 0 5px;
}
.container nav img:hover{
    box-shadow: #b9d2ee 1px 0 10px;
}
.container nav h1{
    margin: 1px 0;
    cursor: pointer;
    color: #698bba;
    font-size: 1rem; 	/* 3.2 = font-size of the main heading */
}
.container nav p{
    letter-spacing: 1px;
}


.container .content{
    width: 100%;
    text-align: center;
    margin-top: 40px;
    color: #4593eb;
}
.container .content ul li{
    display: inline-block;
    margin: 0 25px;
}
.container .content ul li a{
    text-decoration: none;
    color: white;
}
.container .content ul li a:hover{
    color: #4593eb;
    text-shadow: #4593eb 2px 0 10px;
}

@media screen and (max-height:800px){
    
    .container nav{
        display: block;
        padding-top: 10vh;
        color: white;
        text-align: center;
    }
}
@media screen and (max-height:400px){
    


    .container nav h1{
        margin: 10px 0;
    }

    .container .content{
        margin-top: 20px;
    }
    .container .content ul li{
        margin: 0 15px;
    }
    
}    