*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
::-webkit-scrollbar{
    display: none;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),transparent),url(https://z4a.net/images/2023/09/02/1310739.jpg);
    background-size: cover;
    background-position: center;
    
}

.container nav{
    display: block;
    padding-top: 35vh;
    color: white;
    text-align: center;
    transition:.5s ;
}
.container nav img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: #698bba 1px solid;
    box-shadow: #b9d2ee 1px 0 5px;
}
.container nav img:hover{
    box-shadow: #b9d2ee 1px 0 10px;
}
.container nav h1{
    margin: 20px 0;
    cursor: pointer;
    font-size: 2.2rem; 	/* 3.2 = font-size of the main heading */
}
.container nav p{
    letter-spacing: 1px;
}


.container .content{
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.container .content ul li{
    display: inline-block;
    margin: 0 25px;
}
.container .content ul li a{
    text-decoration: none;
    color: white;
}
.container .content ul li a:hover{
    color: #4593eb;
    text-shadow: #4593eb 2px 0 10px;
}

@media screen and (max-height:800px){
    
    .container nav{
        display: block;
        padding-top: 10vh;
        color: white;
        text-align: center;
    }
}
@media screen and (max-height:400px){
    


    .container nav h1{
        margin: 10px 0;
    }

    .container .content{
        margin-top: 20px;
    }
    .container .content ul li{
        margin: 0 15px;
    }
    
}    